<body id="industries">
<script type="text/javascript" src="http://www.raab3frog.com/js/163173.js" ></script>
<noscript><img alt="" src="http://www.raab3frog.com/163173.png" style="display:none;" /></noscript>
<div id="container">

<header id="site_header">
	<div class="contain">
		<a href="/"><img id="logo" alt="W.E. Lott company" src="../../assets/images/welott.svg" /></a>
		<div id="phone"><a href="tel:+14195639400">(419) 563-9400</a> <span><a href="/industries/product-galleries">View Gallery</a><!--<a href="/contact">REQUEST A QUOTE</a>--></span></div>
		<div id="mnt">
			<a class="mtoggle" href="#" title="Menu"><svg version="1.1" id="menu_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="12px" viewBox="0 0 18 12" enable-background="new 0 0 18 12" xml:space="preserve"><path fill="none" /><g id="Layer_x25_201"><rect width="18" height="2"/><rect y="5" width="18" height="2"/><rect y="10" width="18" height="2"/></g><path fill="none" /></svg></a>
		</div>
	</div>
</header>

<nav id="main_nav">
	<div class="centeredmenu">
		<ul class="nav menu mod-list">
<li class="item-101 default"><a href="/" >Home</a></li><li class="item-104"><a href="/about" >About</a></li><li class="item-105"><a href="/products" >Products</a></li><li class="item-106 current active parent"><a href="/industries" >Industries</a></li><li class="item-107"><a href="/capabilities" >Capabilities</a></li><li class="item-108"><a href="/facilities" >Facilities</a></li><li class="item-109"><a href="/quality-control" >Quality Control</a></li><li class="item-110"><a href="/contact" >Contact</a></li></ul>

	</div>
</nav>

<div id="masthead">
	

<div class="custom industries"  >
	<div class="contain">
<img src="../../assets/anniversary_seal.png" width="120" alt="Celebrating 60 Years" class="anniversary">
<div class="i1">Our products fulfill the needs of</div>
<div class="i2">more than 7 key industries,</div>
<div class="i3">supplying widely used steel and iron grades</div>
<div class="i4">as well as other metals.</div>
</div></div>

</div>



<section class="content first contain">
	
	<div id="system-message-container">
	</div>

	<article class="item-page center_it">


	
	


	

			<h1>The Industries We Serve</h1>
<h2>Railroad</h2>
<p>W.E. Lott is a major supplier of parts for the rail industry. Draft lugs, vibrator brackets, manway covers, wheels and coupler parts are just a few of the many parts we supply. New car builders, Class 1 railroads, short line railroads, and leasing companies all use our products. We also serve many of the repair yards throughout North America, Canada and South America. Serving the industry for over 50 years W.E. Lott sales staff and engineers have the expertise to help provide solutions to your rail car manufacturing and repair needs.</p>
<p><a href="/industries/product-galleries/railroad" class="b_gallery">VIEW GALLERY</a></p>
<h2>Gas, Oil &amp; Mining</h2>
<p>Reliability and dependability is what W.E. Lott has built its reputation on. We know that mining is a tough business and using our components and parts won&#8217;t let you down. Our parts are durable and made from the highest quality material, with chemistries and physical properties that are best suited for a rugged harsh environment. With over 50 years in the industry and our proven track record why would you use anyone else!</p>
<p>For quality, reliability and dependability it&#8217;s W.E. Lott.</p>
<p><a href="/industries/product-galleries/gas-oil-mining" class="b_gallery">VIEW GALLERY</a></p>
<h2>Construction Equipment</h2>
<p>Our expertise in producing large castings and forgings for the scrap and waste water treatment industries has allowed W.E. Lott Company to effectively supply the construction and heavy equipment industry. We have developed our foundries and forge shops to supply earth moving, mooring &amp; rigging, agricultural, and forestry equipment manufacturers by providing casting &amp; forging solutions of the highest quality at competitive prices.</p>
<p><a href="/industries/product-galleries/construction-equipment" class="b_gallery">VIEW GALLERY</a></p>
<h2>Military &amp; U.S. Gov&#8217;t</h2>
<p>W.E. Lott supports our Military and the U.S. Gov&#8217;t by supplying quality castings, forgings and fabrications to primary and second tier military contractors. We have the capability of supplying raw components or completely finished machined, assembled coated parts to the required Mil-Stds. There is no job that is too small or too large that we cannot handle.</p>
<p><a href="/industries/product-galleries/military-u-s-gov-t" class="b_gallery">VIEW GALLERY</a></p>
<h2>Truck &amp; Trailer</h2>
<p>W.E. Lott Company produces castings, forgings and fabrications for the global commercial truck and trailer markets. In certain products, casting weight and appearance are as important as strength. Some of the products produced are:</p>
<ul>
<li>Bearing caps, engine brackets, flywheels, oil pans, pulleys, and turbo chargers.</li>
<li>Housings include clutch, main, rear, transmission cases and transmission covers.</li>
<li>Brake rotors, brake drums, brake calipers, hubs, differential carriers, differential case, transfer case, and covers.</li>
<li>Spring and frame hangers, frame brackets, torque rods, and steering gears.</li>
</ul>
<p><a href="/industries/product-galleries/truck-trailer" class="b_gallery">VIEW GALLERY</a></p>
<h2>Industrial Fabrications, Castings &amp; Forgings</h2>
<p>W.E. Lott Company has the unique capability to supply Industrial components that are fabricated from wrought material, or in combination with castings and forgings. W.E. LOTT has the capacity to supply products fabricated as a component of, or as a product finished to a customer&#8217;s specifications and requirements. Welded components are supplied to the current standards of ASME, ANSI, API and AWS depending on the customer requirements. </p>
<p><a href="/industries/product-galleries/industrial-fabrications-castings-forgings" class="b_gallery">VIEW GALLERY</a></p>
<h2>Snow Removal &amp; Road Maintenance</h2>
<p>For more than 50 years, W.E. Lott has been providing castings, forgings and fabrications to the snow removal and road maintenance industries. Converting fabrications to castings has been a big part of how W.E. Lott has helped our customers reduce cost and be more competitive. Steel, ductile iron, white iron, and aluminum are some of the many metal grades we can provide. Moldboard shoes, large bolts, pins, chains and curb protectors are some of the products we make. Please give us a call or send us drawings to discuss how W.E. Lott can help your company be more competitive in the marketplace.</p>
<p><a href="/industries/product-galleries/snow-removal-road-maintenance" class="b_gallery">VIEW GALLERY</a></p>
<h2>Aftermarket Automotive</h2>
<p>Our diverse customer base includes companies that manufacture components for the Automotive aftermarket and trailer market. Products supplied are for engines, transmissions, suspension and differentials. </p>
<p>In addition, W.E. Lott has the capacity to supply prototypes and do Rapid Prototyping.</p>
<p><a href="/industries/product-galleries/aftermarket-automotive" class="b_gallery">VIEW GALLERY</a></p> 


		</article>



</section>






<div class="custom bottom_banner"  >
	<img src="../../assets/images/gallery_bottom_banner.jpg" alt="" /></div>



<footer id="footer">
	<div class="contain">
		<div class="address">
			<h4>W.E. LOTT Company</h4>
			<p>1432 Isaac Beal Road | Bucyrus, Ohio 44820
			<br>T (<a href="tel:+14195639400" class="tel">419) 563-9400</a> | F (419) 562-9411
			<br><a href="https://www.linkedin.com/company/welott" target="_blank">LINKEDIN</a></p>
		</div>
		<div class="signup">
		<h4>Looking for a quote?</h4>
		<p>Provide us your email address and we will connect you to our secure ftp site.
		<br><a href="/contact">Request a Quote</a></p>
		</div>
		<nav id="foot_nav">
			<div class="footermenu">
				<ul class="nav menu mod-list">
<li class="item-101 default"><a href="/" >Home</a></li><li class="item-104"><a href="/about" >About</a></li><li class="item-105"><a href="/products" >Products</a></li><li class="item-106 current active parent"><a href="/industries" >Industries</a></li><li class="item-107"><a href="/capabilities" >Capabilities</a></li><li class="item-108"><a href="/facilities" >Facilities</a></li><li class="item-109"><a href="/quality-control" >Quality Control</a></li><li class="item-110"><a href="/contact" >Contact</a></li></ul>

			</div>
		</nav>
		<p class="copyright">Copyright &copy; 2024 W.E. LOTT Company</p>
	</div>
</footer>

</div>

		
	
