<app-mainhead></app-mainhead>
<body id="capabilities">

    <!-- External Script -->
    <script type="text/javascript" src="http://www.raab3frog.com/js/163173.js"></script>
    <noscript>
        <img alt="" src="http://www.raab3frog.com/163173.png" style="display:none;" />
    </noscript>
    
    <div id="container">
    
        <header id="site_header">
            <div class="contain">
                <a href="/"><img id="logo" alt="W.E. Lott company" src="../../assets/images/welott.svg" /></a>
                <div id="phone"><a href="tel:+14195639400">(419) 563-9400</a> <span><a href="/industries/product-galleries">View Gallery</a><!--<a href="/contact">REQUEST A QUOTE</a>--></span></div>
                <div id="mnt">
                    <a class="mtoggle" href="#" title="Menu"><svg version="1.1" id="menu_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="12px" viewBox="0 0 18 12" enable-background="new 0 0 18 12" xml:space="preserve"><path fill="none" /><g id="Layer_x25_201"><rect width="18" height="2"/><rect y="5" width="18" height="2"/><rect y="10" width="18" height="2"/></g><path fill="none" /></svg></a>
                </div>
            </div>
        </header>
        <!-- Navigation Section -->
        <nav id="main_nav">
            <div class="centeredmenu">
                <ul class="nav menu mod-list">
                    <li class="item-101 default"><a href="/" >Home</a></li>
                    <li class="item-104"><a href="/about" >About</a></li>
                    <li class="item-105"><a href="/products" >Products</a></li>
                    <li class="item-106 parent"><a href="/industries" >Industries</a></li>
                    <li class="item-107 current active"><a href="/capabilities" >Capabilities</a></li>
                    <li class="item-108"><a href="/facilities" >Facilities</a></li>
                    <li class="item-109"><a href="/quality-control" >Quality Control</a></li>
                    <li class="item-110"><a href="/contact" >Contact</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- Masthead Section -->
        <div id="masthead">
            <div class="custom capabilities">
                <div class="contain">
                    <img src="../../assets/anniversary_seal.png" width="120" alt="Celebrating 60 Years" class="anniversary">
                    <div class="c1">We are capable of providing customers</div>
                    <div class="c2">the best</div>
                    <div class="c3">total cost solution</div>
                    <div class="c4">from unique manufacturing</div>
                    <div class="c5">to specific supply chain requirements.</div>
                </div>
            </div>
        </div>
        
        <!-- Content Section -->
        <section class="content first contain">
            <div id="system-message-container"></div>
            
            <div class="img-fulltext-right">
                <img src="../../assets/capabilities.jpg" alt="Capabilities Image"/>
                <p class="img_caption">Give us a call - we’ll do whatever we can to simplify the process for our customers!</p>
            </div>
            
            <!-- Article Section -->
            <article class="item-page">
                <h2>The project planning management team at W.E. LOTT recognizes the benefits of helping you formulate solutions from beginning to end.</h2>
                <p>We can be instrumental in every phase, from the selection of raw materials, to the recommendation of proper techniques to the completion of your part. We can also create a stocking program for your long-term needs so your parts will always be available.</p>
                <img src="../../assets/productsimages/w_logo (2).svg" alt="W Logo" class="w_logo" />
            </article>
        </section>
        
        <!-- Solutions Article Section -->
        <article class="p5 contain">
            <hr>
            <h1>Solutions From Beginning To End</h1>
            <div class="center_it contain">
                <h2>Engineering</h2>
                <p>Quality parts begin with good engineering and design. W.E. Lott uses the latest computer technology to help customers optimize their casting and forging designs. Our in-house engineering can create new Auto CAD drawings for new or existing parts as well as update drawings per customer requirements. To ensure a quality product we also can incorporate directional solidification modeling, CMM testing as well as the design and use of gauges and fixtures to ensure quality production parts.</p>
                <p>We have been very successful in converting fabricated parts from various materials to steel castings and forgings by utilizing some of the advantages inherent in the steel casting and forging process. Product design can be improved by taking advantage of cast steel's high strength to weight ratios, smaller draft angles, weldability and cored out sections to reduce weight and machining cost.</p>
                <p>Our ability to meet our customers' needs has grown over the years. This growth has given us a versatile capability to provide our customers with quality parts ranging in size from a few ounces to tons, and in quantities from one-of-a-kind to a hundred thousand or more.</p>
                
                <h2>Castings</h2>
                <p><strong>Processes include:</strong></p>
                <p>Centrifugal Casting, Die Casting, Investment Casting, Permanent Mold Casting, Sand Casting, V. Process (Vacuum), High and Low Pressure Die Casting, and Lost Foam</p>
                <p><strong>Cast and Forged Alloys Include:</strong></p>
                <p>Aluminum, Brass, Copper, Zinc, Bronze, Ductile Iron, Gray Iron, Malleable Iron, Manganese Steel, Steel, Stainless Steel, White Iron, Other Ferrous and Non-Ferrous Materials</p>
                <p><a href="../../assets/capabilities/welott-castings.pdf" target="_blank">Castings Brochure</a></p>
                
                <h2>Forging</h2>
                <p>Forgings are very popular in the railroad, automotive, and heavy equipment industries. A forging's refined grain structure, machinability, closer tolerance, and high strength make them an attractive alternative.</p>
                <p>Steel forgings made by closed-die, upset, open-die or impression die are widely used in many industries because of their strength compared to steel castings.</p>
                <p><a href="../../assets/capabilities/welott-forging.pdf" target="_blank">Forging Brochure</a></p>
                
                <h2>Warehousing</h2>
                <p>W.E. Lott maintains a 75,000 square foot warehouse and holds millions of dollars in inventory. We can offer "just in time" delivery to meet all your production needs. W.E. Lott can also create an inventory program to satisfy your needs such as consignment inventory or holding safety stock. Our goal is to make sure you have your parts when you need them.</p>
                
                <h2>Machining</h2>
                <p>W.E. LOTT is a machining powerhouse with 15 separate machining facilities totaling over 600 machine centers. Our shops hold either ISO 9001 or TS1 6949 certifications with equipment and capability to produce and finish products large or small. With precise measurement equipment, gauging ability, and part-specific control plans, you can be sure that your project will be held to the tightest tolerances.</p>
                <p><a href="../../assets/capabilities/welott-machining.pdf" target="_blank">Machining Brochure</a></p>
                
                <h2>Quality</h2>
                <p>Dedication to quality is what sets W.E. LOTT apart from the competition. Our commitment begins with the shops we select and how we select them.</p>
                <p>Material chemistry, hardness, tensile, and other mechanical properties are all tested and documented for superior control and traceability per customer requirements and critical dimensions are verified with calibrated gauges and measuring devices.</p>
                <p><a href="../../assets/capabilities/welott-dedication-to-quality.pdf" target="_blank">Quality Brochure</a></p>
                
                <h2>Office Team</h2>
                <p>W.E LOTT’s team has been carefully developed over the years, evolving into the perfect mix of engineering, industry knowledge, and global sourcing expertise to successfully manage your project. We have three globally situated offices: Bucyrus, Ohio; Shanghai, China; and Xī'ān, China.</p>
                <p><a href="../../assets/capabilities/welott-office-team.pdf" target="_blank">Office Team Brochure</a></p>
            </div>
        </article>
        
        <!-- Bottom Banner Section -->
        <div class="custom bottom_banner">
            <img src="../../assets/capabilities_bottom_banner.jpg" alt="Bottom Banner" />
        </div>
        
        <!-- Footer Section -->
        <footer id="footer">
            <div class="contain">
                <!-- Address Section -->
                <div class="address">
                    <h4>W.E. LOTT Company</h4>
                    <p>1432 Isaac Beal Road | Bucyrus, Ohio 44820<br>
                    T (<a href="tel:+14195639400" class="tel">419) 563-9400</a> | F (419) 562-9411<br>
                    <a href="https://www.linkedin.com/company/welott" target="_blank">LINKEDIN</a></p>
                </div>
                
                <!-- Signup Section -->
                <div class="signup">
                    <h4>Looking for a quote?</h4>
                    <p>Provide us your email address and we will connect you to our secure FTP site.<br>
                    <a href="/contact">Request a Quote</a></p>
                </div>
                
                <!-- Footer Navigation -->
                <nav id="foot_nav">
                    <div class="footermenu">
                        <ul class="nav menu mod-list">
                            <li class="item-101 default"><a href="/" >Home</a></li>
                            <li class="item-104"><a href="/about" >About</a></li>
                            <li class="item-105"><a href="/products" >Products</a></li>
                            <li class="item-106 parent"><a href="/industries" >Industries</a></li>
                            <li class="item-107 current active"><a href="/capabilities" >Capabilities</a></li>
                            <li class="item-108"><a href="/facilities" >Facilities</a></li>
                            <li class="item-109"><a href="/quality-control" >Quality Control</a></li>
                            <li class="item-110"><a href="/contact" >Contact</a></li>
                        </ul>
                    </div>
                </nav>
                
                <!-- Copyright -->
                <p class="copyright">Copyright &copy; 2024 W.E. LOTT Company</p>
            </div>
        </footer>
    
