<app-mainhead></app-mainhead>
<body id="quality-control">
    <script type="text/javascript" src="http://www.raab3frog.com/js/163173.js" ></script>
    <noscript><img alt="" src="http://www.raab3frog.com/163173.png" style="display:none;" /></noscript>
    <div id="container">
    
    <header id="site_header">
        <div class="contain">
            <a href="/"><img id="logo" alt="W.E. Lott company" src="../../assets/images/welott (1).svg" /></a>
            <div id="phone"><a href="tel:+14195639400">(419) 563-9400</a> <span><a href="/industries/product-galleries">View Gallery</a><!--<a href="/contact">REQUEST A QUOTE</a>--></span></div>
            <div id="mnt">
                <a class="mtoggle" href="#" title="Menu"><svg version="1.1" id="menu_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="12px" viewBox="0 0 18 12" enable-background="new 0 0 18 12" xml:space="preserve"><path fill="none" /><g id="Layer_x25_201"><rect width="18" height="2"/><rect y="5" width="18" height="2"/><rect y="10" width="18" height="2"/></g><path fill="none" /></svg></a>
            </div>
        </div>
    </header>
    
    <nav id="main_nav">
        <div class="centeredmenu">
            <ul class="nav menu mod-list">
    <li class="item-101 default"><a href="/" >Home</a></li><li class="item-104"><a href="/about" >About</a></li><li class="item-105"><a href="/products" >Products</a></li><li class="item-106 parent"><a href="/industries" >Industries</a></li><li class="item-107"><a href="/capabilities" >Capabilities</a></li><li class="item-108"><a href="/facilities" >Facilities</a></li><li class="item-109 current active"><a href="/quality-control" >Quality Control</a></li><li class="item-110"><a href="/contact" >Contact</a></li></ul>
    
        </div>
    </nav>
    
    <div id="masthead">
        
    
    <div class="custom quality"  >
        <div class="contain">
    <img src="../../assets/anniversary_seal.png" width="120" alt="Celebrating 60 Years" class="anniversary">
    <div class="q1">Our offices in US and Asia demand</div>
    <div class="q2">Continuous Quality</div>
    <div class="q3">Process Improvement</div>
    <div class="q4">through regular audits and evaluations</div>
    <div class="q5">of our vendor base, processes and products.</div>
    </div></div>
    
    </div>
    
    
<section class="content first contain">
	
	<div id="system-message-container">
	</div>

	<article class="item-page center_it">


	
	


	

			<h1>How Does W.E. LOTT Assure Quality?</h1>
<p>As our customer base widens, our exclusive list of industrial OEM manufacturers requires we meet the strictest manufacturing standards possible. We strive to find foundries, forge shops and machine shops that have ISO, AAR and other certifications and provide a series of quality control steps to suit the type of part being manufactured. These processes may include any or all of the following:</p>
<h2>Material Certification</h2>
<p>Materials are produced to either the customer&#8217;s requirements or a National Accepted Standard such as ASTM, ANSI, SAE, or UNS.  Depending on the customer&#8217;s requirements, an independent laboratory will be used to perform and certify test data. We also perform incoming inspection of products, as needed, to verify dimensional, chemical and mechanical properties.</p>
<p>Material is not shipped until all data required is compiled and reviewed by the US office.</p>
<h2>In-House Testing</h2>
<ul>
<li>Spectrometer for Chemistry</li>
<li>Rockwell Hardness</li>
<li>Brinell Hardness</li>
<li>Numerous Dimensional Instruments</li>
<li>Liquid Penatrant Inspection</li>
<li>Pressure Testing</li>
<li>Extensive Use of Standard and Specialty Gauges</li>
</ul>
<h2>Independent Testing</h2>
<p>We utilize independent testing laboratories for chemical, mechanical and non-destructive testing.</p>
<ul>
<li>Spectro Chemical Analysis, Leco Carbon, Sulfur and Wet methods are used traceable to NBS Standards.</li>
<li>Mechanical Testing for Tensile, Yield Strength, Elongation and Reduction of Area</li>
<li>Charpy Impact</li>
<li>CMM Layout</li>
<li>Microstructure Analysis</li>
<li>SEM (Scanning Electron Microscope) for analyzing defective material</li>
<li>Magnetic Particle Inspection</li>
<li>X-Ray (Radiographic) Analysis</li>
</ul>
<h2>Materials Supplied</h2>
<p>We are not limited by material type or process. If there is a need, we will find a quality source to produce it.</p>
<ul>
<li>Steel - Various Grades</li>
<li>Stainless Steel - Various Grades</li>
<li>Ductile Iron - All Grades</li>
<li>Cast Iron - All Grades</li>
<li>Copper and Copper Based - Bronze/Brass</li>
<li>Aluminum Alloys</li>
<li>Zinc Alloys</li>
<li>Rubber Products</li>
<li>Plastics</li>
</ul>
<p><a href="/products#specs" class="b_gallery">METAL SPECS</a></p>
<h2>Expertise at Home and Abroad</h2>
<p>W.E. LOTT&#8217;s team at home and abroad brings a full spectrum of experience in castings, forgings, machining and fabrications made from steel, grey irons and non-ferrous alloys. Our skilled engineers, metallurgists and machinists ensure our customers that their expectations for dimensions and material properties are met on an ongoing basis.</p> 


		</article>



</section>






<footer id="footer">
	<div class="contain">
		<div class="address">
			<h4>W.E. LOTT Company</h4>
			<p>1432 Isaac Beal Road | Bucyrus, Ohio 44820
			<br>T (<a href="tel:+14195639400" class="tel">419) 563-9400</a> | F (419) 562-9411
			<br><a href="https://www.linkedin.com/company/welott" target="_blank">LINKEDIN</a></p>
		</div>
		<div class="signup">
		<h4>Looking for a quote?</h4>
		<p>Provide us your email address and we will connect you to our secure ftp site.
		<br><a href="/contact">Request a Quote</a></p>
		</div>
		<nav id="foot_nav">
			<div class="footermenu">
				<ul class="nav menu mod-list">
<li class="item-101 default"><a href="/" >Home</a></li><li class="item-104"><a href="/about" >About</a></li><li class="item-105"><a href="/products" >Products</a></li><li class="item-106 parent"><a href="/industries" >Industries</a></li><li class="item-107"><a href="/capabilities" >Capabilities</a></li><li class="item-108"><a href="/facilities" >Facilities</a></li><li class="item-109 current active"><a href="/quality-control" >Quality Control</a></li><li class="item-110"><a href="/contact" >Contact</a></li></ul>

			</div>
		</nav>
		<p class="copyright">Copyright &copy; 2024 W.E. LOTT Company</p>
	</div>
</footer>