
 @font-face {
   font-family: 'open_sans';
   src: url("../../assets/Fonts/OpenSans-Semibold-webfont.eot");
   src: url("../../assets/Fonts/OpenSans-Semibold-webfont.eot") format("embedded-opentype"), url("../../assets/Fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../../assets/Fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../../assets/Fonts/OpenSans-Semibold-webfont.svg") format("svg");
   font-weight: 500;
   font-style: normal; }
 @font-face {
   font-family: 'open_sans';
   src: url("../../assets/Fonts/OpenSans-Regular-webfont.eot");
   src: url("../../assets/Fonts/OpenSans-Regular-webfont.eot") format("embedded-opentype"), url("../../assets/Fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../../assets/Fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../assets/Fonts/OpenSans-Regular-webfont.svg") format("svg");
   font-weight: 400;
   font-style: normal; }

 @font-face {
   font-family: 'open_sans';
   src: url("../../assets/Fonts/OpenSans-Light-webfont.eot");
   src: url("../../assets/Fonts/OpenSans-Light-webfont.eot") format("embedded-opentype"), url("../../assets/Fonts/OpenSans-Light-webfont.woff") format("woff"), url("../../assets/Fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../../assets/Fonts/OpenSans-Light-webfont.svg") format("svg");
   font-weight: 200;
   font-style: normal; }
 
 @font-face {
   font-family: 'open_sans';
   src: url("../../assets/Fonts/OpenSans-Bold-webfont.eot");
   src: url("../../assets/Fonts/OpenSans-Bold-webfont.eot") format("embedded-opentype"), url("../../assets/Fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../../assets/Fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../../assets/Fonts/OpenSans-Bold-webfont.svg") format("svg");
   font-weight: 700;
   font-style: normal; }


 .facilities {
   background: url(/images/facilities/banner_facilities.jpg) top left no-repeat;
   background-size: cover;
   height: 330px;
   line-height: 1.25;
   padding: 50px 0 0 10px;
   text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
   font-size: 30px;
   font-size: 1.875rem; }
   @media all and (min-width: 600px) and (max-width: 799px) {
     .facilities {
       font-size: 28px;
       font-size: 1.75rem; } }
   @media all and (min-width: 800px) {
     .facilities {
       font-size: 30px;
       font-size: 1.875rem; } }
   .facilities .f1 {
     font-size: 50px;
     font-size: 3.125rem;
     font-weight: 500;
     line-height: 1;
     padding-top: 15px; }
   .facilities .f2 {
     line-height: 1.3;
     text-indent: 50px; }
   .facilities .f3 {
     line-height: 1.3; }
   .facilities .f4 {
     font-size: 50px;
     font-size: 3.125rem;
     font-weight: 500;
     line-height: 0.9; }
   @media all and (max-width: 599px) {
     .facilities .f1, .facilities .f2, .facilities .f3, .facilities .f4, .facilities .f5 {
       font-size: 30px;
       font-size: 1.875rem;
       text-indent: 0;
       line-height: 1.3; } }
 
 .anniversary {
   display: block;
   float: right;
   margin: 10px 20px 0 0; }
   @media all and (min-width: 800px) {
     .anniversary {
       margin-right: 0; } }
   @media all and (max-width: 599px) {
     .anniversary {
       width: 50px;
       height: auto; } }

 
 /* Center Horizontal Menu */
 #main_nav {
   position: relative;
   display: block;
   background: #231f20; }
   #main_nav:after {
     content: "";
     display: table;
     clear: both; }
 
 #mnt {
   position: absolute;
   right: 10px;
   top: 50px; }
   @media all and (min-width: 800px) {
     #mnt {
       display: none; } }
   @media all and (min-width: 600px) and (max-width: 799px) {
     #mnt {
       display: block; } }
   @media all and (max-width: 599px) {
     #mnt {
       display: block; } }
 
 #menu_icon {
   fill: #ba8748;
   width: 50px;
   height: 50px; }
 
 .centeredmenu {
   width: 320px;
   margin: 0 auto;
   clear: both;
   float: left;
   margin: 0;
   padding: 0;
   width: 100%;
   z-index: 1000;
   /* This makes the dropdown menus appear above the page content below */
   position: relative;
   /* Top menu items */ }
   @media all and (min-width: 600px) and (max-width: 799px) {
     .centeredmenu {
       width: 768px; } }
   @media all and (min-width: 800px) {
     .centeredmenu {
       width: 900px; } }
   .centeredmenu ul {
     margin: 0;
     padding: 0;
     list-style: none;
     float: left;
     position: relative; }
     .centeredmenu ul li {
       margin: 0;
       padding: 0;
       float: left;
       position: relative;
       width: 50%; }
       .centeredmenu ul li a {
         display: block;
         margin: 0 auto;
         font-size: 1em;
         padding: 1.5em 2em;
         line-height: 1em;
         text-decoration: none;
         color: #fff;
         font-weight: bold;
         text-transform: uppercase; }
       .centeredmenu ul li.active a, .centeredmenu ul li:hover a, .centeredmenu ul li.hover a {
         color: #ba8748; }
 
 @media all and (min-width: 800px) {
   .centeredmenu {
     clear: both;
     float: left;
     margin: 0;
     padding: 0;
     width: 100%;
     z-index: 1000;
     /* This makes the dropdown menus appear above the page content below */
     position: relative;
     /* Top menu items */ }
     .centeredmenu ul {
       margin: 0;
       padding: 0;
       list-style: none;
       float: right;
       position: relative;
       right: 50%; }
       .centeredmenu ul li {
         margin: 0;
         padding: 0;
         float: left;
         position: relative;
         left: 50%;
         width: auto; }
         .centeredmenu ul li a {
           display: block;
           margin: 0;
           font-size: .8em;
           padding: 1em 2em;
           line-height: 1em;
           text-decoration: none;
           color: #fff;
           font-weight: bold;
           text-transform: uppercase; }
         .centeredmenu ul li:hover a, .centeredmenu ul li.hover a {
           color: #ba8748; }
         .centeredmenu ul li.active a {
           color: #fff;
           background: url(../../assets/drip.png) 90% top no-repeat; } }
 .footermenu {
   width: 320px;
   margin: 0 auto;
   clear: both;
   float: left;
   margin: 0;
   padding: 0;
   z-index: 1000;
   /* This makes the dropdown menus appear above the page content below */
   position: relative;
   /* Top menu items */ }
   @media all and (min-width: 600px) and (max-width: 799px) {
     .footermenu {
       width: 768px; } }
   @media all and (min-width: 800px) {
     .footermenu {
       width: 900px; } }
   .footermenu ul {
     margin: 0;
     padding: 0;
     list-style: none;
     position: relative; }
     .footermenu ul li {
       margin: 0;
       padding: 0;
       float: left;
       position: relative;
       width: 50%; }
       .footermenu ul li a {
         display: block;
         margin: 0;
         font-size: 1em;
         padding: 1.5em 2em;
         line-height: 1em;
         text-decoration: none;
         color: #fff;
         text-transform: uppercase; }
       .footermenu ul li.active a, .footermenu ul li:hover a, .footermenu ul li.hover a {
         color: #ba8748; }
 
 @media all and (min-width: 600px) and (max-width: 799px) {
   .footermenu ul {
     margin-left: 20px; } }
 @media all and (min-width: 800px) {
   .footermenu {
     position: relative;
     margin: 0;
     padding: 0;
     z-index: 1000;
     /* Top menu items */ }
     .footermenu ul {
       margin: 0;
       padding: 0;
       list-style: none;
       position: relative; }
       .footermenu ul li {
         margin: 0;
         padding: 0;
         float: left;
         position: relative;
         width: auto; }
         .footermenu ul li a {
           display: block;
           margin: 0;
           font-size: .8em;
           padding: 0 20px 0 0;
           line-height: 1em;
           text-decoration: none;
           color: #fff;
           text-transform: uppercase; }
         .footermenu ul li:hover a, .footermenu ul li.hover a {
           color: #ba8748; } }
 #site_header {
   position: relative;
   display: block;
   width: 100%;
   background: url(../../assets/bg_head.jpg) no-repeat;
   background-size: cover;
   border-bottom: 1px #ccc solid; }
   #site_header:after {
     content: "";
     display: table;
     clear: both; }
 
 #logo {
   max-width: 182px;
   height: auto;
   margin: 15px 0 0 20px; }
   @media all and (min-width: 800px) {
     #logo {
       margin: 15px 0 18px 0; } }
 
 #phone {
   position: relative;
   font-size: 21px;
   font-size: 1.3125rem;
   color: #231f20;
   font-weight: 700;
   line-height: 1.4;
   text-align: left;
   margin: 10px 0 20px 20px; }
   #phone a {
     color: #231f20;
     text-decoration: none; }
   #phone span {
     color: #ba8748;
     font-size: 15px;
     font-size: 0.9375rem;
     display: block;
     text-transform: uppercase; }
     #phone span a {
       color: #ba8748;
       text-decoration: underline; }
   @media all and (min-width: 800px) {
     #phone {
       float: right;
       top: 10px;
       text-align: right; } }
 
 #footer {
   position: relative;
   display: block;
   width: 100%;
   background: #231f20;
   font-size: 11px;
   font-size: 0.6875rem;
   line-height: 1.8;
   padding: 30px 0;
   margin: 60px 0 0 0;
   color: #aaa;
   text-align: left; }
   #footer:after {
     content: "";
     display: table;
     clear: both; }
   #footer p {
     text-align: left !important; }
   #footer h4 {
     font-size: 14px;
     font-size: 0.875rem;
     font-weight: 500;
     margin-bottom: 15px;
     color: #fff; }
   #contact #footer {
     margin-top: 0; }
   #footer a:hover {
     color: #fff;
     text-decoration: underline; }
 
 .address {
   display: inline-block;
   width: 40.6779661017%;
   float: left;
   margin-right: 1.6949152542%;
   vertical-align: top; }
 
 .signup {
   display: inline-block;
   width: 57.6271186441%;
   float: right;
   margin-right: 0;
   float: right;
   margin-right: 0;
   vertical-align: top; }
   .signup a {
     text-transform: uppercase; }
 
 #foot_nav {
   width: 100%;
   float: left;
   margin-left: 0;
   margin-right: 0;
   float: right;
   margin-right: 0;
   position: relative;
   background: #231f20;
   margin-top: 20px; }
 
 .copyright {
   clear: both;
   width: 100%;
   float: left;
   margin-left: 0;
   margin-right: 0;
   margin: 30px 0;
   padding: 20px 0;
   border-top: 1px #555 solid; }
 
 @media all and (max-width: 599px) {
   .address,
   .signup {
     clear: both;
     width: 100%;
     float: left;
     margin-left: 0;
     margin-right: 0; } }
 @media all and (max-width: 975px) {
   .address,
   .signup {
     padding: 0 20px; }
 
   .copyright {
     padding: 20px; } }
 .bottom_banner {
   margin: 60px 0 -70px 0; }
   .bottom_banner img {
     width: 100%; }
 
 .tel {
   color: #aaa;
   text-decoration: none; }
 
 
     #masthead {
      box-shadow: 0.8em 0.8em 1.2em -0.8em rgba(0, 0, 0, 0.8);
      position: relative;
      overflow: hidden;
      color: #fff;
      }
      #masthead > div {
        width: 100%;
        position: relative; }
    
   #masthead:after {
     content: "";
     display: table;
     clear: both; }
 
 .big_div {
   position: relative;
   display: block;
   width: 100%; }
   .big_div:after {
     content: "";
     display: table;
     clear: both; }
 
 .content {
   position: relative;
   display: block;
   padding: 0;
   margin: 0 auto; }
   @media all and (min-width: 800px) {
     .content {
       max-width: 960px; } }
   .content:after {
     content: "";
     display: table;
     clear: both; }
   .content .left {
     position: relative;
     display: block;
     float: left; }
     @media all and (min-width: 800px) {
       .content .left {
         width: 66.1016949153%;
         float: left;
         margin-right: 1.6949152542%; } }
   .content .right {
     position: relative;
     display: block;
     float: right; }
     @media all and (min-width: 800px) {
       .content .right {
         width: 32.2033898305%;
         float: right;
         margin-right: 0; } }
 
 @media all and (max-width: 975px) {
   .left, .right, .content {
     padding: 0 20px; } }
 .content p {
   line-height: 1.9; }
 
 @media all and (min-width: 600px) and (max-width: 799px) {
   .first article {
     width: 380px; } }
 @media all and (min-width: 800px) {
   .first article {
     width: 550px;
     margin: 0; } }
 .first article.center_it {
   width: 80%;
   margin: 0 auto;
   text-align: left; }
 
 .center_it {
   text-align: left; }
 
 .p5 .center_it, .p7 .center_it {
   width: 80%; }
 
 .map_right {
   float: right; }
   @media all and (max-width: 599px) {
     .map_right {
       display: none; } }
 
 .map_background {
   background: url(../../assets/bg_map.jpg) top center no-repeat;
   background-size: contain; }
 
 .thumbs {
   margin: 40px 0;
   width: 100%; }
   .thumbs div {
     width: 21.0526315789%;
     float: left;
     margin: 0 1em 1.5em 0; }
     .thumbs div img {
       width: 100%;
       height: auto;
     }
 #facilities .img-fulltext-right {
   width: 32.2033898305%;
   float: right;
   margin-right: 0;
   margin-left: 8.4745762712%;
   margin-top: 20px; }
   #facilities .img-fulltext-right .img_caption {
     font-size: 12px;
     font-size: 0.75rem;
     margin-top: 6px;
     border-left: 9px #ba8748 solid;
     padding-left: 20px;
     margin-left: -30px;
     margin-right: 60px; }
 #facilities .item-page {
   width: 57.6271186441%;
   float: left;
   margin-right: 1.6949152542%;
   float: right;
   margin-right: 0; }
 @media all and (max-width: 599px) {
    #facilities .img-fulltext-right {
     display: none; }
   #facilities .item-page {
     width: 100%;
     float: left;
     margin-left: 0;
     margin-right: 0; } }
 


 
 #facilities .item-page > h2 {
   margin-top: 17px; }
 
 .p5, .p7 {
   margin-bottom: 30px; }
   .p5:after, .p7:after {
     content: "";
     display: table;
     clear: both; }
 #facilities .first {
   font-size: 21px;
   font-size: 1.3125rem; }
   #facilities .first h2 + p {
     margin-top: -8px; }
 #facilities .p5 h1,
 #facilities .p7 h1 {
   text-align: left;
   width: 80%;
   margin-left: 10%; }
 #facilities .p5 p,
 #facilities .p5 li,
 #facilities .p7 p,
 #facilities .p7 li {
   line-height: 1.95; }
 

      .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(300%, -70%); /* Adjust the translate value to shift it slightly to the right */
        max-width: 120px; /* Adjust logo size */
        height: auto;
    }

  
  #masthead {
    background-image: url('../../assets/facilities/banner_facilities.jpg');  /* Add your background image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
