<app-mainhead></app-mainhead>
<body id="home">
    <script type="text/javascript" src="http://www.raab3frog.com/js/163173.js"></script>
    <noscript><img alt="" src="http://www.raab3frog.com/163173.png" style="display:none;" /></noscript>
    <div id="container">

        <header id="site_header">
            <div class="contain">
                <a href="/"><img id="logo" alt="W.E. Lott company" src="../../assets/images/welott (1).svg" /></a>
                <div id="phone"><a href="tel:+14195639400">(419) 563-9400</a> <span><a [routerLink]="['/industries/product-galleries']">View Gallery</a>
                </span></div>
                <div id="mnt">
                    <a class="mtoggle" href="#" title="Menu"><svg version="1.1" id="menu_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="12px" viewBox="0 0 18 12" enable-background="new 0 0 18 12" xml:space="preserve"><path fill="none" /><g id="Layer_x25_201"><rect width="18" height="2"/><rect y="5" width="18" height="2"/><rect y="10" width="18" height="2"/></g><path fill="none" /></svg></a>
                </div>
            </div>
        </header>

        <nav id="main_nav">
            <div class="centeredmenu">
                <ul class="nav menu mod-list">
                    <li class="item-101 default current active"><a href="/">Home</a></li>
                    <li class="item-104"><a href="/about">About</a></li>
                    <li class="item-105"><a href="/products">Products</a></li>
                    <li class="item-106 parent"><a href="/industries">Industries</a></li>
                    <li class="item-107"><a href="/capabilities">Capabilities</a></li>
                    <li class="item-108"><a href="/facilities">Facilities</a></li>
                    <li class="item-109"><a href="/quality-control">Quality Control</a></li>
                    <li class="item-110"><a href="/contact">Contact</a></li>
                </ul>

            </div>
        </nav>

<owl-carousel-o [options]="customOptions">
    <!-- Slide 1 -->
    <ng-template carouselSlide>
      <div class="slide-content slide1">
        <div class="custom about">
          <div class="contain">
            <div class="text-content">
              <div class="h1">Castings, forgings,</div>
              <div class="h2">fabrications</div>
              <div class="h3"><span>and</span> machined parts</div>
              <div class="h4">in almost every material.</div>
            </div>
            <img src="../../assets/anniversary_seal.png" width="60" alt="Celebrating 60 Years" class="anniversary">
          </div>
        </div>
      </div>
    </ng-template>
  
    <!-- Slide 2 -->
    <ng-template carouselSlide>
      <div class="slide-content slide2">
        <div class="custom about">
          <div class="contain">
            <div class="text-content">
              <div class="h5">W.E. LOTT</div>
              <div class="h6">A Trusted</div>
              <div class="h7">Provider</div>
              <div class="h8">at home and abroad</div>
            </div>
            <img src="../../assets/anniversary_seal.png" width="60" alt="Celebrating 60 Years" class="anniversary">
          </div>
        </div>
      </div>
    </ng-template>
  
    <!-- Slide 3 -->
    <ng-template carouselSlide>
      <div class="slide-content slide3">
        <div class="custom about">
          <div class="contain">
            <div class="text-content">
              <div class="h9">Our offices in US and Asia demand</div>
              <div class="h10">Continuous Quality</div>
              <div class="h11">Process Improvement</div>
            </div>
            <img src="../../assets/anniversary_seal.png" width="60" alt="Celebrating 60 Years" class="anniversary">
          </div>
        </div>
      </div>
    </ng-template>
  
    <!-- Slide 4 -->
    <ng-template carouselSlide>
      <div class="slide-content slide4">
        <div class="custom about">
          <div class="contain">
            <div class="text-content">
              <div class="h12">Our facilities</div>
              <div class="h13">produce the highest quality</div>
              <div class="h14">components utilizing</div>
              <div class="h15">advanced technologies.</div>
            </div>
            <img src="../../assets/anniversary_seal.png" width="60" alt="Celebrating 60 Years" class="anniversary">
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  

          


        <section class="content first contain">
            <img class="map_right" alt="Map" src="../../assets/map.jpg" />
            <div id="system-message-container">
            </div>

            <article class="item-page">

                <p>Technology is changing our world by the second. So how do manufacturers achieve sustainable business success in this rapidly changing world?</p>
                <div class="callout">By partnering with the trusted, global resources of W.E. LOTT Company.</div>
                <p>Our global products, capabilities and facilities give our manufacturers the ability to compete and remain profitable regardless of their company size.</p>


            </article>



        </section>

        <div class="big_div">
            <h2>Why W.E. LOTT Company?</h2>
        </div>

        <section class="content contain map_background">
            <article class="left">
                <h2>Global Strength. Domestic Trust.</h2>
                <p>W.E, LOTT is a global supplier of superior cast, forged, fabricated and machined components that allow our customers to realize significant savings by combining domestic state-of-the-art facilities with lower cost overseas manufacturing.
                    Our tightly controlled manufacturing processes, quality assurance programs, motivated workforce, and continuous improvement culture, guarantee quality and adherence to time sensitive production schedules.</p>
                <div class="mini_gallery">
                    <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/aftermarket-automotive">
                          <img src="../../assets/home/i_auto.jpeg" alt="Aftermarket Automotive">
                        </a>
                      </div>
                      
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/snow-removal-road-maintenance">
                          <img src="../../assets/home/i_snow.jpg" alt="Snow Removal &amp; Road Maintenance">
                        </a>
                      </div>
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/industrial-fabrications-castings-forgings">
                          <img src="../../assets/home/i_industrial.jpg" alt="Industrial Fabrications, Castings &amp; Forgings">
                        </a>
                      </div>
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/truck-trailer">
                          <img src="../../assets/home/i_truck.jpg" alt="Truck &amp; Trailer">
                        </a>
                      </div>
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/military-u-s-gov-t">
                          <img src="../../assets/home/i_military.jpg" alt="Military &amp; U.S. Gov&#8217;t">
                        </a>
                      </div>
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/construction-equipment">
                          <img src="../../assets/home/i_const.jpg" alt="Construction Equipment">
                        </a>
                      </div>
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/gas-oil-mining">
                          <img src="../../assets/home/i_gas.jpg" alt="Gas, Oil &amp; Mining">
                        </a>
                      </div>
                      <div class="thumb">
                        <a (click)="scrollToTop()" routerLink="/industries/product-galleries/railroad">
                          <img src="../../assets/home/i_rail.jpg" alt="Railroad">
                        </a>
                      </div>
                      
                </div>
                <p><a href="/industries/product-galleries" class="b_gallery">VIEW GALLERY</a></p>
            </article>
            <article class="right">
                <h2>A Turn-key Solution</h2>
                <p>We can manage your entire project from design to delivery, providing a turn-key solution for superior cast, forged, fabricated and machined components.</p>
                <ul>
                    <li>Shop Selection</li>
                    <li>Tooling &amp; Production Supervision</li>
                    <li>Financing</li>
                    <li>Shipping</li>
                    <li>Warehousing and Stocking Programs</li>
                    <li>Price Negotiation</li>
                    <li>Quality Inspections</li>
                    <li>Insurance</li>
                    <li>US Customs &amp; Tariffs</li>
                    <li>Delivery</li>
                </ul>
            </article>
        </section>




        <footer id="footer">
            <div class="contain">
                <div class="address">
                    <h4>W.E. LOTT Company</h4>
                    <p>1432 Isaac Beal Road | Bucyrus, Ohio 44820
                        <br>T (<a href="tel:+14195639400" class="tel">419) 563-9400</a> | F (419) 562-9411
                        <br><a href="https://www.linkedin.com/company/welott" target="_blank">LINKEDIN</a></p>
                </div>
                <div class="signup">
                    <h4>Looking for a quote?</h4>
                    <p>Provide us your email address and we will connect you to our secure ftp site.
                        <br><a href="/contact">Request a Quote</a></p>
                </div>
                <nav id="foot_nav">
                    <div class="footermenu">
                        <ul class="nav menu mod-list">
                            <li class="item-101 default current active"><a href="/">Home</a></li>
                            <li class="item-104"><a href="/about">About</a></li>
                            <li class="item-105"><a href="/products">Products</a></li>
                            <li class="item-106 parent"><a href="/industries">Industries</a></li>
                            <li class="item-107"><a href="/capabilities">Capabilities</a></li>
                            <li class="item-108"><a href="/facilities">Facilities</a></li>
                            <li class="item-109"><a href="/quality-control">Quality Control</a></li>
                            <li class="item-110"><a href="/contact">Contact</a></li>
                        </ul>

                    </div>
                </nav>
                <p class="copyright">Copyright &copy; 2024 W.E. LOTT Company</p>
            </div>
        </footer>

    </div>


    <script src="/templates/welott/js/script-min.js" type="text/javascript"></script>
 