<app-mainhead></app-mainhead>
<body id="about">
    <div id="container">
        <header id="site_header">
            <div class="contain">
                <a href="/"><img id="logo" alt="W.E. Lott company" src="../../assets/images/welott.svg" /></a>
                <div id="phone"><a href="tel:+14195639400">(419) 563-9400</a> <span><a href="/industries/product-galleries">View Gallery</a><!--<a href="/contact">REQUEST A QUOTE</a>--></span></div>
                <div id="mnt">
                    <a class="mtoggle" href="#" title="Menu"><svg version="1.1" id="menu_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="12px" viewBox="0 0 18 12" enable-background="new 0 0 18 12" xml:space="preserve"><path fill="none" /><g id="Layer_x25_201"><rect width="18" height="2"/><rect y="5" width="18" height="2"/><rect y="10" width="18" height="2"/></g><path fill="none" /></svg></a>
                </div>
            </div>
        </header>
        <nav id="main_nav">
            <div class="centeredmenu">
                <ul class="nav menu mod-list">
        <li class="item-101 default"><a href="/" >Home</a></li><li class="item-104 current active parent"><a href="/about" >About</a></li><li class="item-105"><a href="/products" >Products</a></li><li class="item-106 "><a href="/industries" >Industries</a></li><li class="item-107"><a href="/capabilities" >Capabilities</a></li><li class="item-108"><a href="/facilities" >Facilities</a></li><li class="item-109"><a href="/quality-control" >Quality Control</a></li><li class="item-110"><a href="/contact" >Contact</a></li></ul>
        
            </div>
        </nav>
        <div id="masthead">
            <div class="custom about">
                <div class="contain">
                    <img src="../../assets/anniversary_seal.png" width="120" alt="Celebrating 60 Years" class="anniversary">
                    <div class="a1">W.E. LOTT</div>
                    <div class="a2">A Trusted</div>
                    <div class="a3">Provider</div>
                    <div class="a4">at home and abroad</div>
                </div>
            </div>
        </div>


        <section class="content first contain">
            <article class="item-page map_background">
                <p class="intro">We make working with domestic and offshore manufacturing easy and risk-free, offering our customers all the advantages of international sourcing, with the security of a domestic supplier.</p>
                <div class="img-fulltext-left">
                    <img src="../../assets/olt_family.jpg" alt="The Richard Olt Family">
                    <p class="img_caption"><b>THE RICHARD OLT FAMILY</b><br> Ric, Traci, Ricky, Lexi</p>
                </div>
                <div class="welcome">
                    <h2>Welcome</h2>
                    <p>Since 1957, W.E. LOTT has established a solid reputation as a trusted provider of superior cast, forged, fabricated and machined components to industrial OEM manufacturers across a multitude of industries. With offices in both the United States and Asia, we are uniquely able to offer our customers the cost advantages of international sourcing with the added security of a domestic supplier. Our best practices of tightly controlled manufacturing processes, quality assurance programs, motivated workforce, and a continuous improvement culture ensure customers that each transaction with W.E. LOTT will be met with the same outcome of quality and care, every time. In addition, our global inventory management coupled with local warehousing allows customers immediate access to offshore components without carrying the inventory.</p>
                    <p>If you are looking to maximize your products’ ability to compete in today’s rapidly changing global market, we are the company to call. With almost 60 years of industry experience, we provide the best total cost solution for your cast, forged, fabricated and machined parts. Call us today for a free quote!</p>
                    <p>At your service,</p>
                    <img src="../../assets/ric_sig.png" alt="Ric Olt" style="width: 72px; height: auto;" />
                    <p>Richard Olt | President</p>
                </div> 
            </article>
        </section>

        <article class="p5 contain"><hr>
            <h1>Our Team</h1>
            <h6>Best Practices Every Time</h6>
            <div class="background_team">
                <div class="contain">
                    <div class="img_left_team"><img src="../../assets/team.jpg" alt="Our Team" /></div>
                    <div class="item_page_team">
                        <h5>A TEAM DEDICATED TO QUALITY</h5>
                        <p>At W.E. LOTT, our consistent approach to Quality is what sets us apart. With over 150 years’ combined experience from some of the best people in manufacturing, our commitment to standard best practices assures our customers that the quality will remain the same, from the smallest job to the most complex parts. Employing over 35 people on the ground to inspect our products, we are dedicated to customer satisfaction from the time we receive your order till you receive delivery.</p>
                        <h4>Our Credentials</h4>
                        <ul>
                            <li><b>Casting:</b> 40+ foundry experience</li>
                            <li><b>Forging:</b> 17+ years experience with tooling, dies, gaging</li>
                            <li><b>Stamping:</b> 10+ years experience with stamping dies, progressive tooling, quality engineering</li>
                            <li><b>Machining:</b> 40+ years hands-on experience with fixtures, gages, 4 axis CNC machining, quality engineering</li>
                            <li><b>Asian Offices:</b> 10 degreed engineers, 15 onsite inspectors and quality control personnel</li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </article>

        <article class="p7 contain"><hr>
            <h1>Our Sales Regions</h1>
            <h6>Strategically Located To Meet Your Needs</h6>
            <div class="background_regions">
                <div class="contain">
                    <div class="item_page_regions">
                        <h5>UNITED STATES, CANADA and MEXICO</h5>
                        <p>W.E. LOTT has sales offices strategically located throughout the United States, Canada and Mexico. Our world headquarters are located in Bucyrus, Ohio and are staffed by professional, courteous and knowledgeable employees who can assist you in locating the right sales representative for your product and/or sales region.</p>
                        <p>We have the knowledge and tools to ship products all over the world. By truck, rail, boat or air we can meet your shipping needs.</p>
                        <p>Contact us at <a href="tel:4195639400">(419) 563-9400</a> and we’ll have the appropriate W.E. LOTT representative contact you.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </article>
        <footer id="footer">
            <div class="contain">
                <div class="address">
                    <h4>W.E. LOTT Company</h4>
                    <p>1432 Isaac Beal Road | Bucyrus, Ohio 44820
                        <br>T (<a href="tel:+14195639400" class="tel">419) 563-9400</a> | F (419) 562-9411
                        <br><a href="https://www.linkedin.com/company/welott" target="_blank">LINKEDIN</a>
                    </p>
                </div>
                <div class="signup">
                    <h4>Looking for a quote?</h4>
                    <p>Provide us your email address and we will connect you to our secure ftp site.
                        <br><a href="/contact">Request a Quote</a>
                    </p>
                </div>
                <nav id="foot_nav">
                    <div class="footermenu">
                        <ul class="nav menu mod-list">
                            <li class="item-101 default"><a href="/">Home</a></li>
                            <li class="item-104 active parent"><a href="/about">About</a></li>
                            <li class="item-105"><a href="/products">Products</a></li>
                            <li class="item-106 "><a href="/industries">Industries</a></li>
                            <li class="item-107"><a href="/capabilities">Capabilities</a></li>
                            <li class="item-108"><a href="/facilities">Facilities</a></li>
                            <li class="item-109"><a href="/quality-control">Quality Control</a></li>
                            <li class="item-110 "><a href="/contact">Contact</a></li>
                        </ul>
    
                    </div>
                </nav>
                <p class="copyright">Copyright &copy; 2024 W.E. LOTT Company</p>
            </div>
        </footer>